/* Large Devices Styles Starts */

@media (min-width: 1200px) {
	
/* Navigation Styles Starts */

	#nav .dropdown:hover .dropdown-menu {
		display: block;
	}	
	
/* Generic Styles Starts */

	.text-left-lg   { text-align: left;   }
	.text-center-lg { text-align: center; }
	.text-right-lg  { text-align: right;  }
	
	.pull-left-lg  { float: left;  }
	.pull-right-lg { 
		left: auto;
		right: 0;
	}
	
}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {
	
/* Navigation Styles Starts */

	#nav {
	}
		#nav .navbar-brand {
			padding-left: 14px;
			padding-right: 14px;
			font-size: 68px;
		}
			#nav .navbar-nav > li {	
				margin-right: 5px;
			}
				#nav .navbar-nav > li > a {
					padding: 10px 16px;
					font-size: 17px;
				}
			#nav .dropdown:hover .dropdown-menu {
				display: block;
			}	
			
/* Gallery Page Styles Starts */

	ul#gallery-grid li {
		min-height: 176px;
		height: auto !important;
		height: 176px;
	}
	
/* Generic Styles Starts */

	.img-center-md {
		margin-left: auto;
		margin-right: auto;
	}	
	
	.text-left-md   { text-align: left;   }
	.text-center-md { text-align: center; }
	.text-right-md  { text-align: right;  }		
	
	.pull-left-md  { float: left;  }
	.pull-right-md { 
		left: auto;
		right: 0;
	}

}

/* Small Devices Styles Starts */

@media (min-width: 768px) and (max-width: 991px) {
	
/* Navigation Styles Starts */

	#nav {
	}
		#nav .navbar-brand {
			padding-left: 8px;
			padding-right: 8px;
			font-size: 42px;
		}
			#nav .navbar-brand .fa {
				font-size: 22px;
			}
		#nav .navbar-nav {	
			margin-top: 13px;
		}
			#nav .navbar-nav > li {	
				margin-right: 5px;
			}
				#nav .navbar-nav > li > a {
					padding: 8px 12px;
					font-size: 15px;
				}
			#nav .dropdown:hover .dropdown-menu {
				display: block;
			}	
				#nav .dropdown-menu > li > a {
					font-size: 14px;
				}
				
/* Main Slider Styles Starts */

	#main-slider .item > .carousel-caption {
		bottom: 50px;
	}
		#main-slider .item > .carousel-caption h1 {
			font-size: 50px;
		}
		
/* Info Home Section Styles Starts */

	.info-home-section {
		padding-top: 50px;
		padding-bottom: 20px;
	}
		.info-home-section li {
			margin-bottom: 40px;
		}
			.info-home-section li p {
				margin-bottom: 15px;
			}
			
/* Doctors About Section Styles Starts */

	.doctors-about-col {
		margin-top: 50px;
	}
		.doctors-about-col h5 {
			margin-top: 30px;
		}
		
/* Gallery Page Styles Starts */

	ul#gallery-grid li {
		min-height: 207px;
		height: auto !important;
		height: 207px;
	}		
	
/* Newsletter Section Styles Starts */

	.newsletter-section .form-control {			
		min-width: 500px;
	}
	
/* Generic Styles Starts */

	.img-center-sm {
		margin-left: auto;
		margin-right: auto;
	}	
	
	.text-left-sm   { text-align: left;   }
	.text-center-sm { text-align: center; }
	.text-right-sm  { text-align: right;  }	

	.pull-left-sm  { float: left;  }
	.pull-right-sm { 
		left: auto;
		right: 0;
	}	
	
}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {
	
/* Heading Styles Starts */

	h1 {
		font-size: 50px;
	}
	
/* Navigation Styles Starts */

	#nav .navbar-brand {
		font-size: 42px;
	}
		#nav .navbar-brand .fa {
			font-size: 28px;
			vertical-align: 6px;
		}
	#nav .navbar-nav {	
		margin-top: 4px;
	}
		#nav .navbar-nav > li {	
			margin-right: 0;
			margin-top: 6px;
		}
		
/* Main Slider Styles Starts */

	#main-slider .item > .carousel-caption {
		bottom: 30px;
	}
		#main-slider .item > .carousel-caption h1 {
			font-size: 40px;
		}
	#main-slider .carousel-indicators {
		display: none;
	}	

/* Intro Home Section Styles Starts */

	.intro-home {
		padding-top: 70px;
	}
		.intro-home .img-responsive {
			margin-top: 60px;
		}
		
/* Services Home Section Styles Starts */
		
	.services-home h1 + h5::after {
		width: auto;
	}
	
/* Doctors About Section Styles Starts */

	.doctors-about-section h1 + h5::after {
		width: auto;		
	}
		.doctors-about-col h5 {
			margin-top: 30px;
		}
	
/* Info Home Section Styles Starts */

	.info-home-section {
		padding-top: 50px;
		padding-bottom: 20px;
	}
		.info-home-section li {
			margin-bottom: 40px;
		}
			.info-home-section li p {
				margin-bottom: 15px;
			}		

/* Info About Section Styles Starts */

	.info-about-section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
		.info-about-section h1 {
			margin-bottom: 40px;
		}
		
/* Info Services Section Starts */

	.info-services-section h1 + h5::after {
		width: auto;
	}

/* Memories Home Section Styles Starts */

	.memoried-home-section {
		padding-top: 70px;
		padding-bottom: 70px;
	}
		.memoried-home-section .img-responsive {
			margin-bottom: 40px;
		}
		
/* Testimonials Section Styles Starts */

	.testimonials-section h1 + h5::after {
		width: auto;
	}
	
/* Gallery Page Styles Starts */

	ul#gallery-grid li {
		min-height: 222px;
		height: auto !important;
		height: 222px;
	}
			
/* Box Styles Starts */

	.box-1 > .row > .col-xs-12 + .col-xs-12 {
		padding-left: 40px;
		padding-right: 40px;
	}	
	
/* Newsletter Section Styles Starts */

	.newsletter-section .form-control {			
		padding: 20px 40px;
		min-width: auto;
	}
	.newsletter-section .btn {
		margin-left: 0;
	}	
	
/* Footer Styles Starts */

		.copyright h5 {
			margin-top: 10px;
		}
		
/* List Styles Starts */

	.list-style-1 {
		margin-bottom: 0;
	}	
		.list-style-1 li {
			padding-top: 14px;
		}
	
/* Generic Styles Starts */

	.img-center-xs {
		margin-left: auto;
		margin-right: auto;
	}	
	
	.text-left-xs   { text-align: left;   }
	.text-center-xs { text-align: center; }
	.text-right-xs  { text-align: right;  }		
	
	.pull-left-xs  { float: left;  }
	.pull-right-xs { 
		left: auto;
		right: 0;
	}	

	#nav .navbar-nav > li.dropdown.active > a:hover, 
	#nav .navbar-nav > li.dropdown.active > a:focus, 
	#nav .navbar-nav > li.dropdown:hover > a, 
	#nav .navbar-nav > li.dropdown:focus > a, 
	#nav .navbar-nav > li > a, 
	#nav .navbar-nav > li > a:hover, 
	#nav .navbar-nav > li > a:focus, 
	#nav .navbar-nav > li.active > a, 
	#nav .navbar-nav > li.active > a:focus, 
	#nav .navbar-nav > li.active > a:hover {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
	}
	
	.box-1 .img-responsive {
		-webkit-border-radius: 5px 5px 0 0;
		   -moz-border-radius: 5px 5px 0 0;	
				border-radius: 5px 5px 0 0;	
	}
	
}

/* Extremely Small Devices Styles Starts */

@media (max-width: 478px) {
	
/* Main Slider Styles Starts */

	#main-slider .item > .carousel-caption {
		bottom: 0;
	}
		#main-slider .item > .carousel-caption h1 {
			font-size: 20px;
		}
		
/* Accordions Styles Starts */

	#accordion-1 {
		margin-top: 20px;
		margin-bottom: 0;
	}
		#accordion-1 .panel {
			margin-top: 10px;
			border: none;
		}
			#accordion-1 .panel-heading {
				padding: 14px 20px;
			}
				#accordion-1 .panel-title {
					font-size: 16px;
				}
			#accordion-1 .panel-body {
				padding: 20px 15px 10px;
				font-size: 14px;
				line-height: 24px;
			}
			
/* Gallery Page Styles Starts */

	ul#gallery-grid li {
		min-height: 154px;
		height: auto !important;
		height: 154px;
	}			
	
/* Newsletter Section Styles Starts */

	.newsletter-section .form-control {			
		padding: 20px;
	}	
	
}