body {	
	font: 14px/24px 'Lato', sans-serif;
	color: #676767;
	background: #fff;
	position: relative;
}

/* Standard Styles Starts */

a { color: #419cc7; }
a:hover, 
a:focus {
	color: #1b1b1b;
}
a:focus { outline: none; }

/* Heading Styles Starts */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Lato', sans-serif;
}
h1 { font-size: 72px; }
h2 { font-size: 48px; }
h3 { font-size: 42px; }
h4 { font-size: 30px; }
h5 { font-size: 24px; }
h6 { font-size: 18px; }

.font1 {
	font-family: 'Lato', sans-serif;	
}

.font2 {
	font-family: 'Roboto', sans-serif;
}

.main-heading-1 {
	margin-top: 0;
	margin-bottom: 30px;
	color: #1b1b1b;
}
.main-heading-1.inverse {
	color: #fff;
}
.main-heading-1::after {
	content: "";
	margin: 18px auto 0;	
	width: 166px;
	height: 3px;
	display: block;
	background-color: #419cc7;
}
.main-heading-1.inverse::after {
	background-color: #fff;
}

.main-heading-2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-style: italic;
	color: #4a4a4a;
}
.main-heading-2::after {
	content: "";
	margin-top: 10px;
	width: 37px;
	height: 1px;
	display: block;
	background-color: #419cc7;
}

/* Form & Buttons Styles Starts */

.btn-secondary, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	background-color: #419cc7;
}
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #777;
}
.btn-main {
	background-color: #1b1b1b;
}
.btn-secondary, 
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active, 
.btn-main, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color: #fff;
}

/* Header Styles Starts */

.main-header {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../images/header-bg.jpg);
}
	.top ul {
		margin-top: 10px;
		margin-bottom: 0;
	}
		.top li {
			margin-right: 10px;
			font-size: 18px;
		}
		.top li:last-of-type {
			margin-right: 0;
		}
			.main-header, 
			.main-header a, 
			.top li, 
			.top li a {
				color: #fff;
			}
			.top li a:hover {
				color: #94ddff;
			}
	.main-header h2 {
		margin-top: 100px;
		margin-bottom: 5px;
	}
	.main-header h2 + h2 {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.main-header h6 {
		margin-bottom: 30px;
		line-height: 28px;
	}
	
/* Count Down Styles Starts */

.countdown {
	margin-top: 60px;
	margin-bottom: 30px;
}	
	.countdown ul {
		margin-bottom: 0;
	}
		.countdown li {
			padding-left: 15px;
			padding-right: 15px;
		}
			.countdown h1, 
			.countdown h3, 
			.countdown h6 {
				margin-top: 0;
			}
			.countdown h1.days {
				margin-top: -25px;
				font-size: 160px;
			}
			.countdown h6.days_ref {
				margin-left: 10px;
			}
			.countdown h1.days, 
			.countdown h6.days_ref {
				margin-bottom: 0;
			}
			.countdown .hours {
				padding-right: 2px;
			}
			.countdown .minutes {
				padding-left: 2px;
			}
			.countdown .seconds_ref {
				padding-left: 10px;
				font-size: 22px;
			}
			.countdown .seperator {
				padding-left: 1px;
				padding-right: 1px;
			}
			
/* Notify Form Styles Starts */

.notify-form {
	margin-bottom: 70px;
}	
	.notify-form .form-control {
		padding: 15px 24px;
		height: 52px;	
		font-weight: 300;
	}
	.notify-form .btn {
		padding: 12px 36px;
		font-weight: bold;
	}
	.notify-form .form-control, 
	.notify-form .btn {
		font-size: 18px;
		border: none;
	}
	
/* Navigation Styles Starts */

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	right: 0;
	top: 35%;
	z-index: 999;
}
	.menu li {
		padding: 10px;
		text-align: center;
		background: rgba(23, 23, 25, 0.6);
	}
	.menu li + li {
		margin-top: 2px;
	}
	.menu li:hover, 
	.menu li:focus {
		background: rgba(23, 23, 25, 1);
	}
	.menu li.current {
		background-color: #4184a4;
	}
		.menu li .fa {
			font-size: 24px;
			color: #fff;
		}

/* Section Styles Starts */

.section-area {
	padding-top: 80px;
	padding-bottom: 80px;
}
.section-area.inverse {
	background-color: #419cc7;
}

/* Intro Section Styles Starts */

.intro-section {
}
	.intro-box {
		margin-top: 40px;
		padding: 12px;
		background-color: #419cc7;
	}
	.intro-box:hover {
		background-color: #1a84b6;
	}
	.intro-box, 
	.intro-box a {
		color: #fff;
	}
		.intro-box h5 {
			margin-top: 25px;
			margin-bottom: 13px;
		}
		.intro-box p {
			margin-bottom: 15px;
			line-height: 20px;
		}
		a.read-more {
			font-style: italic;
			border-bottom: 1px solid #b1d1e4;
		}
		a.read-more:hover {
			text-decoration: none;
			border-color: #fff;
		}

/* Team Section Styles Starts */

.team-section {
}
	.team-box {
		margin-top: 40px;
		background-color: #fff;		
	}
		.team-box .profile-img {
			position: relative;
		}
		.team-box .profile-img .overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0);
		}
		.team-box .profile-img .overlay:hover {
			background: rgba(255, 255, 255, 0.5);
		}
			.team-box .profile-img .overlay ul.sm-links {
				margin-top: 34%;
				margin-bottom: 0;
				display: none;
				text-align: center;
			}
			.team-box .profile-img .overlay:hover ul.sm-links {
				display: block;
			}
			.team-box .profile-img .overlay ul.sm-links li {
				padding: 0;
				width: 42px;
				height: 42px;
				line-height: 50px;
				background-color: #419cc7;				
			}
			.team-box .profile-img .overlay ul.sm-links li + li {
				margin-left: 20px;
			}
			.team-box .profile-img .overlay ul.sm-links li:hover {
				background-color: #1b1b1b;
			}
				.team-box .profile-img .overlay ul.sm-links li a .fa {
					font-size: 24px;
					color: #fff;
				}
		.team-box .inner {
			padding: 25px;
		}
		.team-box h6 {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: bold;
		}
		.team-box h6, 
		.team-box .designation {
			color: #323232;
		}
		.team-box p {
			margin-top: 5px;
			font-size: 13px;
			line-height: 22px;
			color: #8d8d8d;
		}		
		.team-box .divider {
			margin-top: 5px;
			margin-bottom: 10px;
			position: relative;
		}
		.team-box .divider:before {
			left: 0;
		}
		.team-box .divider:after {
			right: 0;
		}
		.team-box .divider:before, 
		.team-box .divider:after {
			content: "";
			width: 47%;
			height: 1px;
			position: absolute;
			top: 50%;
			background-color: #bbb;
		}
		.team-box .fa-plus-square {
			color: #bbb;
		}

/* Contact Section Styles Starts */

.contact-section {
}
	.contact-section .container > .row {
		margin-top: 60px;
	}
		.address-list {
			margin-top: 10px;
			margin-bottom: 0;
		}
			.address-list li {
				margin-bottom: 40px;
				color: #8d8d8d;
			}
		.contact-form {
		}
			.contact-form > .form-group {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.contact-form > .form-group + .form-group {
				margin-top: 20px;
			}
				.contact-form .form-control {
					padding: 15px 25px;
					color: #4a4a4a;
					background-color: #efefef;
					border: none;
				}
				.contact-form .form-control:focus {
					background-color: #f0f0f0;
				}
				.contact-form input[type=text].form-control, 
				.contact-form input[type=email].form-control {
					height: 52px;
				}
				.contact-form .btn {
					padding: 12px 36px;
					font-size: 16px;
					font-weight: bold;
				}
			

/* Footer Styles Starts */

.main-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #323232;
}
	.main-footer a {
		color: #419cc7;
	}
	.main-footer a:hover {
		color: #efefef;
	}
	.main-footer h4, 
	.main-footer h5 {
		margin-top: 0;
		margin-bottom: 0;
	}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.no-margin-top		{ margin-top: 0; 	}
.no-margin-bottom	{ margin-bottom: 0; }

.text-thin		 	{ font-weight: 100; }
.text-extra-light	{ font-weight: 200; }
.text-light		 	{ font-weight: 300; }
.text-normal 	 	{ font-weight: 400; }
.text-medium 	 	{ font-weight: 500; }
.text-bold		 	{ font-weight: 700; }
.text-ultra-bold 	{ font-weight: 900; }

.text-spl-color  { color: #419cc7; }
.text-dark-color { color: #4a4a4a; }
.text-grey-color { color: #8d8d8d; }
.text-lite-color { color: #fff;    }

.lead { font-size: 18px; }

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.no-border-radius, 
.flat {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.team-box .profile-img .overlay ul.sm-links li {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
}

.no-boxshadow {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.intro-box:hover {
	-webkit-box-shadow: 6px 6px rgba(0, 0, 0, 0.3);	
	   -moz-box-shadow: 6px 6px rgba(0, 0, 0, 0.3);	
	        box-shadow: 6px 6px rgba(0, 0, 0, 0.3);		
}
.team-box:hover {
	-webkit-box-shadow: 6px 6px rgba(85, 85, 85, 0.4);	
	   -moz-box-shadow: 6px 6px rgba(85, 85, 85, 0.4);	
	        box-shadow: 6px 6px rgba(85, 85, 85, 0.4);		
}

.team-box .profile-img .overlay ul.sm-links li {
	-webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
	   -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
	        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}

.team-box .profile-img .overlay ul.sm-links li {
	-webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
	   -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
	        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}

.notify-form .form-control, 
.contact-form .form-control {
	-webkit-box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.notify-form .form-control:focus, 
.contact-form .form-control:focus {
	-webkit-box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-awesome {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
}

.animation, 
.animation a {
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
}

.animation-1, 
.animation-1 a {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;	
}